div:first-of-type{
    margin-left: 25px;
    float: left;
    text-align: center;
    width: 250px;
}
div+div{
    margin-left: 25px;
    padding-left: 50px;
    float: left;
    width: 600px;
    border-left: 3px solid black;
}
p::first-letter{
    margin-left: 30px;
}
hr+div{
    position: relative;
    top: 45px;
}