.main{
    margin: auto;
}
.columnas
{
    justify-content: center;
    column-gap: 25px;
    display: flex;
    flex-flow: row nowrap;
}

.cabecera{
    text-align: center;
    background-color: gray;
    -webkit-text-stroke-color:black 5px;
    color: white;
    border-radius: 5px;   
    box-shadow: 4x 4px 3px;
}
.borde{   
    flex-basis: 25%;
}
.centro{
    flex-basis: 50%;    
}
.borde, .centro{
    background-color: gray;
    column-gap: 25px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 4px 4px 3px;

}
.pie{
    background-color: gray;
    border-radius: 5px;
    box-shadow: 4px 4px 3px;
    height: 30px;
}