body{
    background-color: rgb(155, 250, 218);
}
main{
    border: 1px solid rgb(107, 9, 9);
    margin: auto;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    column-gap: 20px;
    width: 900px;
}
.caja{
    margin-top: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    /*flex-basis: 350px;*/
    height: 500px;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    box-shadow: 15px 20px 15px;
}
