body{
    background-image: url(/descarga/fondoPaisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.contenedor{
    background-image: url(/descarga/fondo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    width: 1024px;
    height: 1024px;
    margin: 50px auto;
    border: 8px solid  #049292;
    border-radius: 30px;
}
.izquierda{
    margin-left: 50px;
    color:  #dcdbda ;
    padding: 20px;
    width: 300px;
    height: 984px;
    background-color: rgb(22, 85, 61, 0.9);
    float: left;
}
.derecha{
    background-color: rgba(44, 138, 138, 0.9);
    margin: auto;    
    height: 984px;
    width: 532px;
    float: left;
    padding: 20px;
}
.imagen{
    margin: 20px 20px; 
    width: 230px;
    height: 230px;
}
.principal{
    width: 230px;
    height: 230px;
}
img{
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30px;

}
ul+hr{
    margin-top: 5px;
    margin-left: 40px;
    background-color: white;
    width: 230px;
    height: 2px;
    margin-top: 20px;
}
img+hr{
    margin-top: 5px;
    margin-left: 40px;
    background-color: white;
    width: 230px;
    height: 2px;
    margin-top: 20px;
}
div+hr{
    margin-top: 5px;
    margin-left: 40px;
    background-color: white;
    width: 230px;
    height: 2px;
}
hr{
    background-color:  #fbfbe4 ;
    height: 8px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    width: 532px;
}
p+hr{
    background-color:  #fbfbe4 ;
    height: 3px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    width: 532px;
}
.ultimo{
    background-color:  #fbfbe4 ;
    height: 3px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    width: 532px;
}
h1{
    color:  #fbfbe4 ;
    margin-left: 10px;
    font-size: 3em;
    margin-bottom: 10px;
    font-family: 'Courier New';
}
h2{
    font-size: 1em;
}
hr+h2{
    margin-left: 40px;
}
.primero{
    margin-top: 60px;
    margin-left: 10px;
    color: #dcdbda;
    text-decoration: underline;
}
.segundo{
    margin-left: 10px;
    color: #dcdbda;
    text-decoration: underline;
}
.tercero{
    margin-left: 10px;
    color: #dcdbda;
    text-decoration: underline;
}
p:first-of-type{
    margin-left: 10px;
    margin-bottom: 60px;
}
p{
    margin-left: 10px;
}
h2+ul{
    margin-left: 40px;
}
br+img{
    margin-left: 40px;
}
a{
    color:#dcdbda;
    text-decoration: none;
}
a:visited{
    color: #dcdbda;
}
a+hr{
    margin-top: 5px;
    margin-left: 40px;
    background-color: white;
    width: 230px;
    height: 2px;
    margin-top: 20px;
}
h2+img{
    margin-left: 40px;
}
