body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color:rgb(92, 49, 49);
}
.container{
    text-align: center;
    margin: 20px;
    border-radius: 8px;
    height: auto;
    width: 800px;
    background-color: rgba(0, 255, 200, 0.548);
    margin: auto;
}
.titulo{
    color: rgb(92, 49, 49);
    padding: 10px;
    background-color: rgb(25, 136, 127); 
    text-align: center;
}
.contenido {
 display: flex
}
.aside{
    padding: 15px;
    left: 25px;;
    width: 200px;
    background-color: rgba(16, 131, 160, 0.432)
}
.main {
    flex-grow: 1;
    text-align: left;
    padding: 15px
}
.article {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #0c58af;
    border-radius: 4px;
}
.primero {
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(97, 16, 16);
    border-radius: 4px;
    background-color: rgb(13, 143, 104);
}
.segundo{
    margin: 20px;
    padding: 15px;
    border: 1px solid rgb(97, 16, 16);
    border-radius: 4px;
    background-color: rgba(25, 201, 201, 0.452);
}
.tercero {
    margin: 20px;
    padding: 15px;
    border: 1px solid rgb(97, 16, 16);
    border-radius: 4px;
    background-color: rgb(17, 160, 179);
}
.footer {
    background-color: burlywood;
    color: wheat;
    padding: 25px;
    margin-top: 25px;
    left: 0;
    clear: both;
}