table {
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    border-left: 1px blue solid;
    border-right: 1px blue solid;
    font-family: sans-serif;
}

th {
    background-color: cyan;
    padding: 0 10px;
}

td:empty {
    background-color: brown;
    /*se aplica a los contenidos vacios(continuacion de selecotres)*/
}