main{
    border: 1px solid red;
    display: flex;
    /*flex-direction: row-reverse; para revertir la direccion de las cajas
    flex-wrap: wrap;/*evita que las cajas se desborden añadiendo una columna*/

    column-gap: 25px;/*separacion entre columnas*/
    flex-flow: row;/* es un atajo para flex direction y wrap
    row reverse enmpieza por la dercha // row por la izquierda // column para ordenar en columnas*/
    padding: 10px;
    row-gap: 20px;
    justify-content: space-around;/*center para ajustar el contenido al centro // space around para meter espacio alrededor // space evenly deja un poco más de espacio en los 
    laterales la diferencia es minima*/
    align-items: center; /* ? */   
}
.caja{
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 300px; /* el width de flex */    
} 
div:nth-of-type(1){ 
    height: 200px;
    flex-grow: 0; /* flex grow es el incremento del creciemiento de las cajas cuando ensachamos el navegador una vez se acaba el flex basis*/
    order: 2;
}
div:nth-of-type(2){
    height: 75px;
    flex-grow: 2;
    align-self: flex-end; /*alinear abajo*/
    order: 100;/*ordena las cajas por orden de menor a mayor*/
}
div:nth-of-type(3){
    height: 300px;
    flex-grow: 1;
    order: -1;
}
div:nth-of-type(4){
    height: 150px;
    flex-grow: 3;
    align-self: flex-start;/*alinear arriba*/
    order: 4;
}
@media(max-width:800px){ /*actua como un if*/ /*cuando baje de 800px se pone en modo column*/
    main{
        flex-direction: column;
    }
    .caja{ 
        background-color: cyan; /*/*cuando baje de 800px se cambia de color*/
    }
}
@media(max-width:600px){
    .caja{
        background-color: yellow;
    }
}