table, td{
    border: 3px solid red; 
    background-color: yellow;
    border-style: inset; /*solid double dotted dashed groove ridge inset outset*/
    /*border-top-color: red;
    border-bottom-color: green;*/
    border-spacing: 10px 5px; /*separa bordes*/
    /*border-collapse: collapse; /*collapse une bordes contiguos/ spacing separa*/
    empty-cells: hide; /*no dibuja bordes a las celdas vacias*/
    cursor: crosshair; /*cambia la forma del cursor cuando pasa por encima de algo en concreto*/
    background-color: yellow;
}
ul.modificada{
   /* list-style-type: square;
    list-style-position: inside;
    list-style-image: url(/descarga/descarga.jpeg);*/
    list-style: square inside url(/descarga/descarga.jpeg); /* forma simplificada de los anterior*/
    cursor: help;
}