.container{
    height: 800px;
    width: 680px;
    /* border: 1px solid black; */
    margin: auto;
}
header{
    background-color: orange;
    border: 3px solid black;
    text-align: right;
    padding: 8px;
    font-family:'Times New Roman';
    font-size: 30px;
    color: black;
    margin: 8px;
    width: 618px;
}
main{
    margin: auto;

}
article {
    border: 2px solid black;
}
.primero {
    padding: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    float: left;
    margin: 8px;
    margin-right: 35px;
}
.segundo {
    padding: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    float: left;
    margin: 8px;
    margin-left: 55px;
    margin-bottom: 80px;
    }
.tercero {
    padding: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    float: left;
    margin: 8px;
    margin-right: 35px;
    margin-bottom: 25px;
}
.cuarto {

    padding: 10px;
    text-align: center;
    height: 250px;
    width: 250px;
    float: left;
    margin: 8px;
    margin-left: 55px;
    }
footer {
    border: 3PX solid black;
    padding: 5px;
    margin: 8px;
    height: 20px;
    width: 623px;
    background-color: orange;
    position: relative;
    clear: both;
}