body {
    background-image: url(/descarga/descarga.jpeg);
    background-repeat: repeat-x; /* repite la imagen en el eje x*/
    background-position: 0 center; /*para darle posicion a la imagen*/
    background-attachment: fixed; /*fija la imagen y no permite que se mueva*/
    /*background: fixed 0 center repeat-x url(/descarga/descarga.jpeg);*//*otra forma de realizarlo pero seguido*/
    background-color: #47df0b91;
}
.container{
    width: 800px;
    height: 580px;
    border: 1px solid green;
    margin: 50px auto 0;
    padding: 10px;
    position: absolute;
    margin: 50px;
    clip: rect(200px 500px 300px 0);/*es propiedad funciona solo con el position absolute*/
                                /*clip determina que zonas son visibles y cual no*/
}
header{
    background-color: green;
    color: white;
    text-align: right;
    font-family: sans-serif;
    font-size: 2.8em;
    padding: 20px;
    height: 60px;
    margin-bottom: 10px;
}
aside{
    width: 260px;
    float: left;
    background:  #aad4a0;;
    height: 400px;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-image: url(/descarga/descarga.jpeg);
    background-repeat: no-repeat; /*no repite la imagen*/
    overflow-y: scroll; /*hideen oculta el contenido de mas y el scroll nos permite scrollear*/
                        /*overflow-y para tener scroll en vertical solo y scroll para los dos*/

}
main{
    width: 470px;
    float: right;
    background:  #2c5d1f;
    color: white;
    height: 430px;
    padding: 15;
    margin-bottom: 10px;
    margin-right: 10px;
}
footer{
    background-color: #55814D;
    color: white;
    height: 20px;
    padding: 5px;
    clear: both;
}
article{
    border: 2px white solid;
    font-size: 1.1em;
    margin: 5px;
    padding: 5px;
}
.segundo {
    position: relative; /*absolute como referencia el navegador y relative como referencia la posicion determinada y fixed para fijarlo*/
    top: 10px;
    left: 50px;
    color: black;
    border-color: black;
    /*z-index: -1;/*para dar profundidad*/
    visibility: hidden; /* lo oculta*/
}