table{
    margin: auto;
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: black;
}
tr:first-of-type{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: green;
    padding: 20px;
}
td:nth-child(13){
    background-color: yellow;

}
tr:nth-child(even){
    background-color: cyan;
}
td{
    background-color: 1px solid black;
}
tr:nth-child(3){
    background-color: white;
}
tr:nth-child(5){
    background-color: white;
}
td:nth-child(od){
    background-color: yellow;
}